<li class="last:md:col-span-2 last:lg:col-span-1 relative w-full">
    <a href="{{ card_link }}" class="relative flex justify-end flex-col p-5 w-full h-56 bg-cover bg-center" {{ card_background }} style="background-image: url('{{permalink}}');" {{ /card_background }}>
        <div class="w-full h-full absolute inset-0 bg-gradient-to-t from-[#00000080] hover:bg-none hover:bg-[#00000099]"></div>
        <h3 class="text-white relative leading-tight">{{ title }}</h3>
        <h4 class="text-white relative">{{ subtitle }}</h4>
        <u class="text-white relative text">{{ card_link_title }}</u>
    </a>
</li>