{{ if type == 'panel_group' }}
<section class="container flex flex-col gap-8 sm:gap-12">
    {{ panels }}
        {{ partial:panel }}
    {{ /panels }}
</section>
{{ elseif type == 'full' }}
{{ if header }}
<h2>{{ header }}</h2>
{{ /if }}
<div>
    {{ full }}
        {{ partial:bard }}
    {{ /full }}
</div>
{{ elseif type == 'fifty_fifty' }}
<section class="container">
    {{ if header }}
    <h2>{{ header }}</h2>
    {{ /if }}
    <ul class="mt-4 grid gap-4 lg:grid-cols-2 lg:gap-10">
        <li>
            {{ left }}
            {{ partial:bard }}
            {{ /left }}
        </li>
        <li>
            {{ right }}
            {{ partial:bard }}
            {{ /right }}
        </li>
    </ul>
</section>
{{ elseif type == '3_cols' }}
<section class="container">
    {{ if header }}
    <h2>{{ header }}</h2>
    {{ /if }}
    <ul class="grid row-span-3 gap-8 md:grid-cols-2 md:row-sapn-2 lg:grid-cols-3 lg:grid-rows-1">
        <li class="last:md:col-span-2 last:lg:col-span-1 relative w-full flex flex-col items-start">
            {{ first_col }}
            {{ partial:bard }}
            {{ /first_col }}
        </li>
        <li class="last:md:col-span-2 last:lg:col-span-1 relative w-full flex flex-col items-start">
            {{ second_col }}
            {{ partial:bard }}
            {{ /second_col }}
        </li>
        <li class="last:md:col-span-2 last:lg:col-span-1 relative w-full flex flex-col items-start">
            {{ third_col }}
            {{ partial:bard }}
            {{ /third_col }}
        </li>
    </ul>
</section>
{{ elseif type == 'centered_col' }}
<section 
    class="centered_bg bg-cover bg-fixed mt-14 mb-5"
    {{ background_image }}
    style="background-image: url('{{ permalink }}');"
    {{ /background_image }}
>
    <div 
        class="flex justify-center items-center py-14 bg-[#302622d9]">
        <div class="max-w-lg text-center">
            {{ text }}
        </div>
    </div>
</section>
</section>
{{ elseif type == 'video_panel' }}
    {{ partial:panel }}
{{ elseif type == 'image_panel' }}
    {{ partial:panel }}
{{ elseif type == 'user_carousel' }}
    <ul>
        {{ user_groups_field }} {{ users group="{handle}" }}
        <li>{{ name }}</li>
        {{ /users }} {{ /user_groups_field }}
    </ul>
{{ elseif type == '3_cards' }}
    {{ partial:3_cards }}
{{ elseif type == '3_cards_collection'}}
    {{ partial:3_cards }}
{{ /if }}