{{ if type == 'panel_group' }}
{{ panels }}
    {{ partial:panel }}
{{ /panels }}
{{ elseif type == 'full' }}
{{ if header }}
<h2>{{ header }}</h2>
{{ /if }}
<div>
    {{ full }}
        {{ partial:bard }}
    {{ /full }}
</div>
{{ elseif type == 'fifty_fifty' }}
{{ if header }}
<h2>{{ header }}</h2>
{{ /if }}
<div class="grid grid-cols-2 gap-4">
    <div>
        {{ left }}
        {{ partial:bard }}
        {{ /left }}
    </div>
    <div>
        {{ right }}
        {{ partial:bard }}
        {{ /right }}
    </div>
</div>
{{ elseif type == '3_cols' }}
{{ if header }}
<h2>{{ header }}</h2>
{{ /if }}
<div class="grid grid-cols-3 gap-4">
    <div>
        {{ first_col }}
        {{ partial:bard }}
        {{ /first_col }}
    </div>
    <div>
        {{ second_col }}
        {{ partial:bard }}
        {{ /second_col }}
    </div>
    <div>
        {{ third_col }}
        {{ partial:bard }}
        {{ /third_col }}
    </div>
</div>
{{ elseif type == 'centered_col' }}
<div class="">
    {{ if background_image }}
        {{ background_image }}
            <img src="{{ url }}" alt="{{ alt }}" />
        {{ /background_image }}
    {{ /if }}
    <div>
        {{ text }}
    </div>
</div>
{{ elseif type == 'video_panel' }}
    {{ partial:panel }}
{{ elseif type == 'image_panel' }}
    {{ partial:panel }}
{{ elseif type == 'user_carousel' }}
    <ul>
        {{ user_groups_field }} {{ users group="{handle}" }}
        <li>{{ name }}</li>
        {{ /users }} {{ /user_groups_field }}
    </ul>
{{ /if }}