{{ form:set in="reservation" }} 

    {{ if {form:success} }} 

        {{ form:submission }}
            <form action="/payment/create" method="post">
                {{ csrf_field }}
                <input type="hidden" name="id" value="{{ id }}" />
                <input type="hidden" name="total_price" value="{{ total_price }}" />
                <input type="hidden" name="name" value="{{ name }}" />
                <input type="hidden" name="email" value="{{ email }}" />
                <input type="hidden" name="event" value="{{ event }}" />
                <input type="hidden" name="title" value="{{ title }}" />
                <button type="submit">Pay Now</button>
            </form>
        {{ /form:submission }}

    
    {{ else }} 
    {{ form:reservation }}
<input type="hidden" name="event" id="event" value="{{ id }}" />

{{ if logged_in }}

<div>
    <p>you are logged in as {{ current_user:name }}</p>
</div>

<div>
    <input
        type="hidden"
        name="name"
        id="name"
        value="{{ current_user:name }}"
        required
    />
</div>

<div>
    <input
        type="hidden"
        name="email"
        id="email"
        value="{{ current_user:email }}"
        required
    />
</div>

<div>
    <input
        type="hidden"
        name="phone"
        id="phone"
        value="{{ current_user:phone }}"
    />
</div>

{{ else }}

<div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required />
</div>

<div>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required />
</div>

<div>
    <label for="phone">Phone:</label>
    <input type="text" name="phone" id="phone" />
</div>

{{ /if }}

<h3>Reservation Details</h3>
{{ foreach:reservation_fields as="field" }}
<div>
    <label
        >{{ field:label }}{{ if field:price }} - €{{ field:price }}{{ /if
        }}</label
    >
    {{ if field:type == 'select' }} {{ foreach:field:options as="option" }}
    <div>
        <p>{{ option:label }} - €{{ option:price }}</p>
        <label for="reservation_details[{{ option:label }}]">Quantity:</label>
        <input
            type="hidden"
            name="reservation_details[{{ key }}][option]"
            value="{{ option:label }}"
        />
        <input
            type="number"
            name="reservation_details[{{ key }}][quantity]"
            id="reservation_details_{{ field:label }}_{{ option:label }}"
            data-price="{{ option:price }}"
            value="0"
            min="0"
            max="99"
        />
        <input
            type="hidden"
            name="reservation_details[{{ key }}][price]"
            value="{{ option:price }}"
        />
    </div>
    {{ /foreach:field:options }} {{ else }}
    <input
        type="{{ field:type }}"
        name="reservation_details[{{ key }}][option]"
        id="reservation_details_{{ field:label }}_{{ option:label }}"
        data-price="{{ field:price }}"
        required
    />
    <input
        type="hidden"
        name="reservation_details[{{ key }}][quantity]"
        id="reservation_details_{{ field:label }}_{{ option:label }}"
        data-price="{{ option:price }}"
        value="1"
    />
    <input
        type="hidden"
        name="reservation_details[{{ key }}][price]"
        value="{{ field:price }}"
    />
    {{ /if }}
</div>
{{ /foreach:reservation_fields }}

<div>
    <label>Total price: €<span id="total-price">0.00</span></label>
    <input type="hidden" id="total_price_input" name="total_price" value="0" />
</div>

<button type="submit">Submit Reservation</button>
{{ /form:reservation}}

<script>
    // Calculate total price
    document.addEventListener("DOMContentLoaded", function () {
        const calculateTotalPrice = () => {
            let totalPrice = 0;
            document.querySelectorAll("[data-price]").forEach((item) => {
                const price = parseFloat(item.dataset.price) || 0;
                const quantity =
                    (item.type === "number" ? parseInt(item.value) : 1) || 0;
                totalPrice += price * quantity;
            });
            document.getElementById("total-price").innerText =
                totalPrice.toFixed(2);
            document.getElementById("total_price_input").value =
                totalPrice.toFixed(2);
        };

        document.querySelectorAll("[data-price]").forEach((element) => {
            element.addEventListener("input", calculateTotalPrice);
        });

        calculateTotalPrice();
    });
</script>
{{ /if }} {{ /form:set }}
