{{ form:set in="reservation" }} {{ if {form:success} }} {{ form:submission }}
<div class="">
    <h3 class="text-2xl font-bold mb-4">Uw reservatie is bevestigd</h3>
    <p class="mb-2">
        Uw reservatie is bevestigd. U ontvangt een email met de details van uw
        reservatie.
    </p>
    <p class="mb-2">Naam: {{ name }} {{ last_name }}</p>
    <p class="mb-2">Email: {{ email }}</p>
    <p class="mb-2">Totaal prijs: €{{ total_price }}</p>
    <p class="mb-2">Reservatie details:</p>
    <ul class="list-disc ml-6 mb-4">
        {{ foreach:reservation_details as="detail" }}
        <li>
            {{ detail:option }} - €{{ detail:price }} x {{ detail:quantity }}
        </li>
        {{ /foreach:reservation_details }}
    </ul>
    <p class="mb-2">U kan betalen via onderstaande knop.</p>
</div>
<form action="/payment/create" method="post">
    {{ csrf_field }}
    <input type="hidden" name="payment_id" value="{{ payment_id }}" />
    <input type="hidden" name="total_price" value="{{ total_price }}" />
    <input type="hidden" name="name" value="{{ name }}" />
    <input type="hidden" name="last_name" value="{{ last_name }}" />
    <input type="hidden" name="email" value="{{ email }}" />
    <input type="hidden" name="event" value="{{ event }}" />
    <button
        type="submit"
        class="text-white bg-primary hover:bg-blue-800 focus:ring-3 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
        Betalen
    </button>
</form>
{{ /form:submission }} {{ else }} {{ form:reservation }}
<input type="hidden" name="event" id="event" value="{{ id }}" />
<h3>Reserveer uw plaats</h3>

{{ if logged_in }}

<div class="my-4">
    <p>
        U bent ingelogd als {{ current_user:name }} {{ current_user:last_name }}
    </p>
</div>

<div>
    <input
        type="hidden"
        name="name"
        id="name"
        value="{{ current_user:name }}"
        required
    />
    <input
        type="hidden"
        name="last_name"
        id="last_name"
        value="{{ current_user:last_name }}"
        required
    />
</div>

<div>
    <input
        type="hidden"
        name="email"
        id="email"
        value="{{ current_user:email }}"
        required
    />
</div>

<div>
    <input
        type="hidden"
        name="phone"
        id="phone"
        value="{{ current_user:phone }}"
    />
</div>

{{ else }}
<div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900"
            >Voornaam:</label
        >
        <input
            type="text"
            name="name"
            id="name"
            placeholder="Voornaam"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-secondary focus:outline-none block w-full p-2.5"
        />
    </div>

    <div>
        <label
            for="last_name"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Achternaam:</label
        >
        <input
            type="text"
            name="last_name"
            id="last_name"
            placeholder="Achternaam"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-secondary focus:outline-none block w-full p-2.5"
        />
    </div>

    <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
            >Email:</label
        >
        <input
            type="email"
            name="email"
            id="email"
            placeholder=""
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-secondary focus:outline-none block w-full p-2.5"
        />
    </div>

    <div>
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900"
            >GSM:</label
        >
        <input
            type="text"
            name="phone"
            id="phone"
            placeholder="0412345678"
            pattern="[0]{1}[4]{1}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}"
            title="Moet een geldig Belgisch telefoon nummer zijn. 04xxxxxxxx"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-secondary focus:outline-none block w-full p-2.5"
        />
    </div>
</div>
{{ /if }}

<h4>Reservatie details</h4>
{{ foreach:reservation_fields as="field" }}
<div class="">
    <label
        class="block mb-2 text-sm font-medium text-gray-900 md:col-span-2"
    >
        {{ field:label }}{{ if field:price }} - €{{ field:price }}:{{ /if }}
    </label>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        {{ if field:type == 'select' }} {{ foreach:field:options as="option" }}
        <div>
            <label
                for="reservation_details[{{ option:label }}]"
                class="block mb-2 text-sm font-medium text-gray-900"
                >{{ option:label }} - €{{ option:price }}:</label
            >
            <input
                type="hidden"
                name="reservation_details[{{ key }}][option]"
                value="{{ option:label }}"
            />
            <input
                type="number"
                name="reservation_details[{{ key }}][quantity]"
                id="reservation_details_{{ field:label }}_{{ option:label }}"
                data-price="{{ option:price }}"
                value="0"
                min="0"
                max="99"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-secondary focus:outline-none block w-full p-2.5"
            />
            <input
                type="hidden"
                name="reservation_details[{{ key }}][price]"
                value="{{ option:price }}"
            />
        </div>
        {{ /foreach:field:options }} {{ else }}
        <div>
            <input
                type="{{ field:type }}"
                name="reservation_details[{{ key }}][option]"
                id="reservation_details_{{ field:label }}_{{ option:label }}"
                data-price="{{ field:price }}"
                required
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-secondary focus:outline-none block w-full p-2.5"
            />
            <input
                type="hidden"
                name="reservation_details[{{ key }}][quantity]"
                id="reservation_details_{{ field:label }}_{{ option:label }}"
                data-price="{{ option:price }}"
                value="1"
            />
            <input
                type="hidden"
                name="reservation_details[{{ key }}][price]"
                value="{{ field:price }}"
            />
        </div>
    </div>
    {{ /if }}
</div>
{{ /foreach:reservation_fields }}

<div>
    <label>Totaal prijs: €<span id="total-price">0.00</span></label>
    <input type="hidden" id="total_price_input" name="total_price" value="0" />
</div>

<button
    type="submit"
    class="text-white bg-primary hover:bg-blue-800 focus:ring-3 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
>
    Bevestig reservatie
</button>
{{ /form:reservation}}

<script>
    // Calculate total price
    document.addEventListener("DOMContentLoaded", function () {
        const calculateTotalPrice = () => {
            let totalPrice = 0;
            document.querySelectorAll("[data-price]").forEach((item) => {
                const price = parseFloat(item.dataset.price) || 0;
                const quantity =
                    (item.type === "number" ? parseInt(item.value) : 1) || 0;
                totalPrice += price * quantity;
            });
            document.getElementById("total-price").innerText =
                totalPrice.toFixed(2);
            document.getElementById("total_price_input").value =
                totalPrice.toFixed(2);
        };

        document.querySelectorAll("[data-price]").forEach((element) => {
            element.addEventListener("input", calculateTotalPrice);
        });

        calculateTotalPrice();
    });
</script>
{{ /if }} {{ /form:set }}
