@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */
* {
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-family: 'Octin Sports rg';
    color: var(--color-header-text);
    text-transform: uppercase;
}

h2 {
    font-family: 'Octin Sports rg';
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 2.1rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Barlow', sans-serif;
    color: var(--color-primary);
    font-size: 2.25rem;
    line-height: 1.5;
    font-weight: normal;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.5;
}

main {
    background-color: var(--color-background);
}
