@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */
* {
}

h1 {
    font-family: 'Octin Sports rg';
    color: var(--color-header-text);
}

header {
    color: var(--color-header-text);
}

main {
    background-color: var(--color-background);
}
