<!--
This is the navigation for the home page. 
-->
<header class="relative h-[350px] sm:h-[450px] w-full">
    {{ carousel}}
        <div class="carousel z-[-1] absolute w-full h-full bg-cover bg-center transition-opacity duration-1000 ease-in-out opacity-0" style="background-image: url('{{permalink}}');"></div>
    {{ /carousel }}
    <div class="container px-5 pt-10 flex justify-between bg-gradient-to-b from-black to-transparent bg-opacity-75">
        <nav class="uppercase flex justify-between">
            <div>
            {{ site_styles:header_logo }}
                <a href="./">
                    <img src="{{ url }}" alt="{{ alt }}" class="h-auto w-30">
                </a>
            {{ /site_styles:header_logo }}
            </div>
            <ul class="header__nav flex flex-row">
                {{ nav:main_nav_jongens include_home="true" }}
                {{ if first }}
                    <li><a href="{{ url }}" class="{{ if is_current }} underline {{ /if }}">Home</a></li>
                {{ else }}
                    <li><a href="{{ url }}" class="{{ if is_current }} underline {{ /if }}">{{title}}</a></li>
                {{ /if }}
                {{ /nav:main_nav_jongens }}
                    <li><a href="{{ user:logout_url }}">Log out</a></li>
            </ul>
        </nav>
        <img src="./assets/icons/dropdown.png" alt="" class="hamburger w-8 h-auto">
    </div>
    <div class="container px-5 absolute top-auto bottom-12">
        <h1 class="text-6xl break-normal">{{ title | replace(' ', '<br>') }}</h1>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const images = document.querySelectorAll('.carousel');
        let currentImageIndex = 0;

        if (images.length > 1) {
            function showImage(index) {
                images.forEach((image, i) => {
                    image.classList.remove('opacity-100');
                    image.classList.add('opacity-0');
                    if (i === index) {
                        image.classList.remove('opacity-0');
                        image.classList.add('opacity-100');
                    }
                });
            }

            function nextImage() {
                currentImageIndex = (currentImageIndex + 1) % images.length;
                showImage(currentImageIndex);
            }

            // Initialize carousel
            showImage(currentImageIndex);
            setInterval(nextImage, 5000); // Change image every 5 seconds
        } else if (images.length === 1) {
            // If there is only one image, make sure it is visible
            images[0].classList.remove('opacity-0');
            images[0].classList.add('opacity-100');
        }
    });
</script>