<!--
This is the navigation for the home page. 
-->
<header class="relative h-[350px] sm:h-[450px] w-full">
    {{ carousel}}
        <div class="carousel z-[-1] absolute w-full h-full bg-cover bg-center transition-opacity duration-1000 ease-in-out opacity-0" style="background-image: url('{{permalink}}');"></div>
    {{ /carousel }}
    <nav class="container">
        <ul>
            {{ site_styles:header_logo }}
            <li>
                <a href="./">
                    <img src="{{ url }}" alt="{{ alt }}" class="h-auto w-20">
                </a>
            </li>
            {{ /site_styles:header_logo }}
            {{ nav:main_nav_jongens include_home="true" }}
            {{ if first }}
                <li><a href="{{ url }}" class="{{ if is_current }} underline {{ /if }}">Home</a></li>
            {{ else }}
                <li><a href="{{ url }}" class="{{ if is_current }} underline {{ /if }}">{{title}}</a></li>
            {{ /if }}
            {{ /nav:main_nav_jongens }}
                <li><a href="{{ user:logout_url }}">Log out</a></li>
        </ul>
    </nav>
    <div>
        <h1>{{ title }}</h1>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const images = document.querySelectorAll('.carousel');
        let currentImageIndex = 0;

        if (images.length > 1) {
            function showImage(index) {
                images.forEach((image, i) => {
                    image.classList.remove('opacity-100');
                    image.classList.add('opacity-0');
                    if (i === index) {
                        image.classList.remove('opacity-0');
                        image.classList.add('opacity-100');
                    }
                });
            }

            function nextImage() {
                currentImageIndex = (currentImageIndex + 1) % images.length;
                showImage(currentImageIndex);
            }

            // Initialize carousel
            showImage(currentImageIndex);
            setInterval(nextImage, 5000); // Change image every 5 seconds
        } else if (images.length === 1) {
            // If there is only one image, make sure it is visible
            images[0].classList.remove('opacity-0');
            images[0].classList.add('opacity-100');
        }
    });
</script>