{{ partial:html/head }}
    <body>
        {{ partial:navs/nav }}
        <main class="container my-4">
            {{ pdf_file }}
                <div class="w-full h-screen flex items-center justify-center">
                    <object
                        type="application/pdf"
                        data="{{ permalink }}"
                        width="100%"
                        height="100%"
                    >
                        <p>Your browser does not support PDFs. Please download the PDF to view it: <a href="{{ url }}" class="text-secondary hover:underline">Download PDF</a></p>
                    </object>
                </div>
            {{ /pdf_file }}
        </main>
        {{ partial:navs/footer }}
    </body>
{{ /partial:html/head }}
