<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
<body>
    {{ partial:nav_home }}
    {{ pdf_file }}
    <object
        type="application/pdf"
        data="../..{{ url }}"
        width="1000"
        height="1000"
    >
    </object>
    {{ /pdf_file }}
</body>
</html>