<section class="container my-4 max-w-lg lg:max-w-xl">
{{ nocache }}
{{ form:contact_us }}

    {{# First let's check if this is after a submission, and if so, was it successful. #}}
    {{# If it was, just show the success message. After all, we don't want them submitting again once they've gotten in touch! #}}
    {{ if success }}
        <div class="bg-green-300 text-white p-2">
            {{ success }}
        </div>
    {{ else }}
        {{# If we weren't successful, show any errors. If a fresh page load, there are no errors, so do nothing. #}}
        {{ if errors }}
            <div class="bg-red-300 text-white p-2">
                {{ errors }}
                    {{ value }}<br>
                {{ /errors }}
            </div>
        {{ /if }}

        {{# Loop through and render the form inputs #}}
        <div class="grid gap-6 mb-6">
            {{ fields }}
            <div>
                {{ if type == 'textarea' }}
                <label for="{{ handle }}" class="block mb-2 text-sm font-medium text-gray-900">{{ display }}</label>
                <textarea name="{{ handle }}" id="{{ handle }}" rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:border-secondary focus:outline-none"
                {{ required }}>{{ value }}</textarea>
                {{ else }}
                <label for="{{ handle }}" class="block mb-2 text-sm font-medium text-gray-900">{{ display }}</label>
                <input type="{{ type }}" name="{{ handle }}" id="{{ handle }}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-secondary focus:outline-none block w-full p-2.5"
                value="{{ value }}" {{ required }}>
                {{ /if }}
                {{ if error }}
                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                {{ /if }}
            </div>
            {{ /fields }}
        </div>
            
        {{# Add the honeypot field #}}
        <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">

        {{# This is just a submit button. #}}
        <button type="submit"     class="text-white bg-primary hover:bg-blue-800 focus:ring-3 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
        >
            Verzenden
        </button>
    {{ /if }}

{{ /form:contact_us }}
{{ /nocache }}
</section>