<section>
    <section>
        <h2>Bestuur & uniform</h2>
        <ul>
            {{ users group="bondsleider" }}
            <li>
                <h3>Naam: {{ name }}</h3>
                <p>Email: {{ email }}</p>
            </li>
            {{ /users }}
    
            
            {{ users groups:contains="bondsraad" groups:doesnt_contain="bondsleider" }}
            <li>
                <h3>Naam: {{ name }}</h3>
                <p>Email: {{ email }}</p>
            </li>
            {{ /users }}

            {{ users groups:contains="uniform" groups:doesnt_contain="bondsraad" }}
                <li>
                    <h3>Naam: {{ name  }}</h3>
                    <p>Email: {{ email }}</p>
                </li>
            {{ /users }}
        </ul>
    </section>
    <section>
        {{ collection:bannen }}
        <h2>{{ title }}</h2>
        <ul>
            {{ users groups:contains="{{ title | lower }}" }}
            <li>
                <h3>Naam: {{ name }}</h3>
                <p>Email: {{ email }}</p>
            </li>

            {{ /users }}
        </ul>
        {{ /collection:bannen }}
    </section>
</section>
