<section class="container">
    <section>
        <h2>Bestuur & uniform</h2>
        <ul class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
            {{ users role="bondsleider" }}
                {{ partial:components/person role="Bondsleider" }}
            {{ /users }}

            {{ users role="bondsraad" }}
                {{ partial:components/person role="Bondsraad" }}
            {{ /users }}

            {{ users group="uniform" }}
                {{ partial:components/person role="Uniform" }}
            {{ /users }}
        </ul>
    </section>
    <section>
        {{ collection:bannen }}
        <h2>{{ title }}</h2>
        <ul class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
            {{ users group:contains="{{ title | lower }}" }}
                {{ partial:components/person }}
            {{ /users }}
        </ul>
        {{ /collection:bannen }}
    </section>
</section>
