<section class="container">
    {{ user }} {{ user:profile_form }}
    <div class="mx-auto max-w-lg lg:max-w-xl">
        <h4>Verander uw gegevens</h4>
        <div class="grid gap-6 mb-6">
            {{ if errors }}
            <div class="bg-red-300 text-white p-2">
                {{ errors }} {{ value }}<br />
                {{ /errors }}
            </div>
            {{ /if }} {{ if success }}
            <div class="bg-green-300 text-white p-2">{{ success }}<br /></div>
            {{ /if }}
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900"
                    >Email</label
                >
                <input
                    type="email"
                    name="email"
                    value="{{ old:email or email }}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-secondary focus:outline-none block w-full p-2.5"
                />
            </div>

            {{ user:in group="leiding" }}
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900"
                    >Bio</label
                >
                <textarea
                    name="bio"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:border-secondary focus:outline-none"
                >{{ old:bio or bio }}</textarea>
            </div>
            {{ /user:in }}

            <button
                type="submit"
                class="text-white bg-primary hover:bg-blue-800 focus:ring-3 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            >
                Opslaan
            </button>
        </div>
    </div>
    {{ /user:profile_form }}
    <div class="mx-auto max-w-lg lg:max-w-xl">
        <h4>Verander wachtwoord</h4>
        {{ user:password_form }}
        <div class="grid gap-6 mb-6">
            {{ if errors }}
            <div class="bg-red-300 text-white p-2">
                {{ errors }} {{ value }}<br />
                {{ /errors }}
            </div>
            {{ /if }} {{ if success }}
            <div class="bg-green-300 text-white p-2">{{ success }}<br /></div>
            {{ /if }}

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900"
                    >Current Password</label
                >
                <input
                    type="password"
                    name="current_password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-secondary focus:outline-none block w-full p-2.5"
                />
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900"
                    >New Password</label
                >
                <input
                    type="password"
                    name="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-secondary focus:outline-none block w-full p-2.5"
                />
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900"
                    >Confirm Password</label
                >
                <input
                    type="password"
                    name="password_confirmation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-secondary focus:outline-none block w-full p-2.5"
                />
            </div>

            <button
                type="submit"
                class="text-white bg-primary hover:bg-blue-800 focus:ring-3 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            >
                Opslaan
            </button>
        </div>
    </div>
    {{ /user:password_form }} {{ /user }}
</section>
