<section class="container">
    <div class="bg-backgroundSecondary">
        <ul class="pb-4 flex flex-col gap-2">
            {{ collection:events limit="4" }}
            {{ if first }}
            {{ partial:card_collection }}
            {{ else }}
            <li class="px-4">
                <a href="{{ url }}">
                    <p class="underline">{{ date | iso_format("D MMMM YYYY") }} - {{ title }}</p>
                </a>
            </li>
            {{ /if }}
            {{ /collection:events }}
        </ul>
    </div>
</section>
<section class="container">
    <ul class="flex flex-col gap-2 my-6">
        {{ collection from="news|events" }}
            {{ partial:components/news }}
        {{ /collection news }}
    </ul>
</section>

    