<section class="container relative min-h-72 sm:min-h-96">
    <div class="mb-6">
        <p class="text-sm text-gray-400">
            {{ nav:breadcrumbs include_home="false" }}
            {{ unless first }}
            <a href="{{ url }}" class="text-secondary underline">{{ title }}</a>{{ unless last }} > {{ /unless }}
            {{ /unless }}
            {{ /nav:breadcrumbs }}
        </p>
    </div>
    {{ content }}
    {{ author }}
    <div class="mt-4">
        {{ partial:components/author }}
    </div>
    {{ /author }}
    {{ if groups }}
    <div class="absolute bottom-0">
        <i class="fa-solid fa-tag text-secondary"></i> Bericht voor: 
        {{ groups }}
        <a href="{{ url }}" class="text-secondary underline">{{ title }}</a>{{ unless last }},{{ /unless }}
        {{ /groups }}
    </div>
    {{ /if }}
</section>
